<mat-toolbar color="primary">
    <button mat-icon-button routerLink=""><mat-icon>home</mat-icon></button>
    <span routerLink="">IntelliSense Service </span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="">Home</button>
    <button mat-button routerLink="student-list">Student</button>
    <button mat-button routerLink="product-list">Products</button>
    <button mat-button routerLink="contact-list">Contacts</button>
    <button mat-button routerLink="about-us">About Us</button>
</mat-toolbar>