<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ isEditMode ? 'Edit' : 'Add' }} Customer</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required />
                <mat-error *ngIf="customerForm.get('name')?.hasError('required')">
                    Name is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required />
                <mat-error *ngIf="customerForm.get('email')?.hasError('required')">
                    Email is required
                </mat-error>
                <mat-error *ngIf="customerForm.get('email')?.hasError('email')">
                    Invalid email address
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="phone" required />
                <mat-error *ngIf="customerForm.get('phone')?.hasError('required')">
                    Phone is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>GSTIN</mat-label>
                <input matInput formControlName="gstin" required />
                <mat-error *ngIf="customerForm.get('gstin')?.hasError('required')">
                    Address is required
                </mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="customerForm.invalid">
                {{ isEditMode ? 'Update' : 'Add' }}
            </button>
            <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
        </mat-card-actions>
    </mat-card>
</form>