<mat-card>
    <mat-card-header>
        <mat-toolbar>
            <mat-toolbar-row>
                <span>Purchase Orders</span>
                <span class="example-spacer"></span>
                <button mat-raised-button matTooltip="Add New Purchase Order"
                    (click)="openAddEditPurchase()"><mat-icon>add</mat-icon></button>
            </mat-toolbar-row>
        </mat-toolbar>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Column Definitions -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="supplierName">
                <th mat-header-cell *matHeaderCellDef> Supplier </th>
                <td mat-cell *matCellDef="let element"> {{element.supplierName}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Purchase Date </th>
                <td mat-cell *matCellDef="let element"> {{element.date | date:'dd-MM-YYYY' }} </td>
            </ng-container>

            <ng-container matColumnDef="totalAmount">
                <th mat-header-cell *matHeaderCellDef> Total Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.totalAmount}} </td>
            </ng-container>
            <ng-container matColumnDef="taxAmount">
                <th mat-header-cell *matHeaderCellDef> Tax </th>
                <td mat-cell *matCellDef="let element"> {{element.taxAmount}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="openViewPurchase(element)"><mat-icon>visibility</mat-icon></button>
                    <button mat-icon-button (click)="openAddEditPurchase(element)"><mat-icon>edit</mat-icon></button>
                    <!-- <button mat-icon-button (click)="deletePurchase(element.id)"><mat-icon>delete</mat-icon></button> -->
                </td>
            </ng-container>
            <!-- Header and Row Definitions -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; trackBy: trackByFn"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons [pageSize]="pageSize"
            [length]="totalRecords" (page)="onPageChange($event)">
        </mat-paginator>
    </mat-card-content>
</mat-card>